<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value="/app/.nuget/packages" />
  </config>
  <packageSources>
    <clear />
    <add key="local-nupkgs" value="/tmp/local-nuget-web" />
    <add key="local-nuget" value="/tmp/local-nuget" />
    <add key="local-cache" value="/app/.nuget/packages" />
  </packageSources>
</configuration>
